@use "src/styles/colour.scss" as *;

@import "./tape/index.scss";
@import "./state/index.scss";
@import "./program/index.scss";

.simulator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tape-state__container {
  border: 1px solid $border;
  margin: 0.5rem;
  border-radius: .25rem;
}