@use "src/styles/colour.scss" as *;
.state__container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.state-error__container {
  display: flex;
  margin: 0 2rem;
}

.state-error__line-no {
  font-style: italic;
  background: $red-error;
  padding: 0 0.7rem;
  color: white;
}

.state-error__msg {
  padding: 0 0.7rem;
}