.state__container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}

.state-error__container {
  border: rgb(173, 72, 56) 2px solid;
  font-style: italic;
  display: flex;
}

.state-error__line-no {
  background: rgb(173, 72, 56);
  padding: 0 0.7rem;
  color: white;
}

.state-error__msg {
  padding: 0 0.7rem;
}