@use "src/styles/colour.scss" as *;

.state__container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}


.state-error {
  margin: 0 2rem;

  &__primary{
    display: flex;
    &__line-no {
      font-style: italic;
      background: $red-error;
      padding: 0 0.7rem;
      color: white;
    }

    &__msg {
      padding: 0 0.7rem;
    }
  }

  &__additional {
    width: 100%;
    text-align: end;
    font-size: smaller;
    font-style: italic;
    font-weight: 600;
    color: $faded-text;
  }
}